<div class="row">
  <fieldset class="col-12">
    <legend class="text-info">Sản phẩm liên quan:</legend>
    <a href=""
      ><img
        class="img-thumbnail col-2 image"
        src="images/laptop5.jpg"
        
    /></a>   
    <a href=""
      ><img class="img-thumbnail col-2 image" src="images/laptop0.jpg"
    /></a>
    <a href="">
      <img class="img-thumbnail col-2 image" src="images/laptop1.jpg"
    /></a>
    <a href=""
      ><img class="img-thumbnail col-2 image" src="images/laptop2.png"
    /></a>
    <a href=""
      ><img class="img-thumbnail col-2 image" src="images/laptop3.jpg"
    /></a>
    
  </fieldset>
</div>