<div class="col-sm-2">
    <img
      src="images/logofooter-removebg-preview.png"
      width="290px"
      alt=""
    />
  </div>

  <div class="footer_infor col-sm-3">
    <b class="inDam">Thông tin</b> <br />
    Nguyễn Quốc Anh <br />
    Phát Triển Phần Mềm <br />
    IT_18318_T <br />
    PS33513 <br />
    Lập Trình Web <br />
    <b class="inDam">Cơ sở</b> <br />
    FPT Polytechnic <br />
    Công Viên Phần Mềm Quang Trung <br />
    <div class="footer_icons">
      <a href="http://facebook.com" target="page"
        ><img src="images/Logo_de_Facebook.png" alt="" width="30px"
      /></a>
      <a href="http://instagram.com" target="page"
        ><img src="images/ins.png" alt="" width="30px"
      /></a>
      <a href="http://youtube.com" target="page"
        ><img src="images/youtube.png" alt="" width="30px"
      /></a>
    </div>
  </div>
  <div class="chinhSach col-sm-2">
    <b class="inDam">Chính sách</b> <br />
    Trả góp <br />
    Giao hàng <br />
    Đổi trả <br />
    Bảo hành <br />
    Bảo mật thông tin <br />
    <b class="inDam">Liên hệ</b> <br />
    Hotline :
    <a href="" class="contact" style="color: blue; text-decoration: none"
      >036 6635 969</a
    ><br />
    Mail :
    <a href="" class="contact" style="color: blue; text-decoration: none"
      >anhnqps33513@fpt.edu.vn</a
    >
  </div>
  <div class="ThanhToan col-sm-2">
    <b class="inDam">Thanh Toán</b> <br />
    <div class="iconThanhToan">
      <a href="#"
        ><img src="images/jcb.png" alt="" width="30px" height="30px"
      /></a>
      <a href="#"><img src="images/viettel.jpg" alt="" width="30px" /></a>
      <a href="#"><img src="images/visaaaa.png" alt="" width="30px" /></a>
      <br />
      <a href="#"
        ><img src="images/mastercard.png" alt="" width="30p" height="30px"
      /></a>
      <a href="#"><img src="images/zalopay.png" alt="" width="30px" /></a>
      <a href="#"><img src="images/momo.png" alt="" width="30px" /></a>
    </div>
  </div>
  <div class="gopY col-sm-2">
    <b class="inDam">Góp ý</b> <br />
    <input
      class="form-control"
      type="text"
      placeholder="Góp ý của bạn..."
    />
    <br />
    <button class="btn btn-primary" type="submit" onclick="send()">
      Gửi
    </button>
  </div>