<div class="navbar navbar-expand-lg navbar-dark bg-dark nvb">
    <div class="container-fluid">
      <a
        class="btn btn-dark"
        data-bs-toggle="offcanvas"
        href="#offcanvasExample"
        role="button"
        aria-controls="offcanvasExample"
      >
      <i class="bi bi-person-lines-fill"></i>
      </a>
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            Về chúng tôi
          </h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <div class="jumbotron">
              <h1 class="display-4"><b class="text-danger">ANH IT</b></h1>
              <p class="lead">
                Chào mừng bạn đến <b class="text-danger">ANH IT</b> - Nơi
                bạn tìm thấy những laptop hàng đầu, hiệu suất cao, và trải
                nghiệm mua sắm thuận tiện. Khám phá ngay để có những ưu đãi
                đặc biệt!
              </p>
              <hr class="my-4" />
              <p>
                Với hệ thống bán lẻ trải dài khắp toàn quốc. Chúng tôi tự hào là đơn vị hàng đầu 
                trong lĩnh vực phân phối laptop và các thiết bị công nghệ khác.
              </p>
              <div class="dropdown mt-3">
                <button
                  class="btn btn-danger dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                >
                  Xem thêm...
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Khuyến mãi</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Chính sách bảo hành</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Đăng ký nhượng quyền</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!--Menu-->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-2">
            <a class="nav-link" href="#"
              ><i class="bi bi-house"></i> Trang chủ</a
            >
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"
              ><i class="bi bi-mouse3-fill"></i> Linh kiện</a
            >
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"
              ><i class="bi bi-headset"></i> Gaming Gear</a
            >
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"
              ><i class="bi bi-controller"></i> Máy chơi game</a
            >
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"
              ><i class="bi bi-pc-display"></i> PC gaming</a
            >
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"
              ><i class="bi bi-apple"></i> Apple</a
            >
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="#"><i class="bi bi-xbox"></i> Xbox</a>
          </li>

          <li class="nav-item dropdown px-2">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-laptop"></i> Laptop
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Laptop Acer</a></li>
              <li><a class="dropdown-item" href="#">Laptop Asus</a></li>
              <li><a class="dropdown-item" href="#">Laptop Lenovo</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Laptop MSI</a></li>
              <li><a class="dropdown-item" href="#">Laptop Gygabyte</a></li>
              <li><a class="dropdown-item" href="#">Laptop HP</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Laptop Đế tản nhiệt</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Laptop Balo - Túi xách</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi bi-telephone"></i> Hotline: 19008198</a
            >
          </li>
        </ul>
        <!--Menu-->
      </div>
    </div>
  </div>