<div class="info-news">
  <div class="card-header text-light">
      <img  src="images/flag.jpg" alt="" width="30px">
  BÀI VIẾT MỚI
  </div>
  <div class="card-header text-light">
      <img src="images/flag.jpg" alt="" width="30px">
  REVIEW
  </div>
  
</div>
      <div class="card bg-danger">
              <div class="card card-body">
                <a href="#" class="content-news">
                  <img src="images/NEW1.jpg" alt="">
                </a>
                <div class="caption col-lg-8">
                  <div class="text">
                      <div class="tieuDe">
                          <b><a href=""></a>Laptop "giá rẻ" MSI Titan GT77 HX 13VX…</b>
                      </div>
                      13 Tháng Hai, 2023 <br>
                      Mẫu MSI Titan GT77 HX 13V là gaming laptop trang bị màn hình Mini LED 4K, tần <br>
                           số quét 144 Hz đầu tiên trên thế giới <br>
                  </div>
                  <a href="">XEM THÊM »</a>

                </div>
              </div>
            
          </div>
          <div class="card bg-danger">
                  <div class="card card-body" >
                    <a href="#" class="content-news">
                      <img   src="images/NEW2.jpg" alt="" >
                    </a>
                    <div class="caption col-lg-8">
                          <div class="tieuDe">
                              <b><a href=""></a>Fan đội đỏ chọn ngay ASUS ROG Crosshair X670E Extreme</b>
                          </div>
                          13 Tháng Hai, 2023 <br>
                          Nếu thích đội đỏ và có đủ nguồn lực kinh tế, ASUS ROG Crosshair X670E <br>
                           Extreme là nền tảng cao cấp nhất cho vi xử lý AMD Zen 4 Raphael. <br>
                           <a href="">XEM THÊM »</a>

                    </div>
                </div>
                
              </div>
              <div class="card bg-danger">
                      <div class="card card-body">
                        <a href="#" class="content-news">
                          <img src="images/NEW3.jpg" alt="">
                        </a>
                        <div class="caption col-lg-8">
                          <div class="text">
                              <div class="tieuDe">
                                  <b><a href=""></a>ASUS ROG Strix SCAR 16/18 – “Trùm cuối” xuất hiện</b>
                              </div>
                              13 Tháng Hai, 2023 <br>
                              ROG Strix SCAR 16/18 2023 với khung máy hoàn toàn mới mang đến trải nghiệm chơi <br>
                               game mượt mà nhất trên nền tảng đồ họa đến từ tương lai <br>
                          </div>
                          <a href="">XEM THÊM »</a>

                        </div>
                      </div>
                    
                  </div>
                  <div class="card bg-danger">
                      <div class="card card-body">
                        <a href="#" class="content-news">
                          <img src="images/NEW4.jpg" alt="">
                        </a>
                        <div class="caption col-lg-8">
                          <div class="text">
                              <div class="tieuDe">
                                  <b><a href=""></a>Laptop Gaming Gigabyte A5 K1.. có nên mua ?</b>
                              </div>
                              14 Tháng Hai, 2023 <br>
                              Được bán ở phân khúc tầm trung, nhưng Gigabyte A5 <br>
                               K1 vẫn sở hữu một mức hiệu năng mạnh mẽ. <br>
                          </div>
                          <a href="">XEM THÊM »</a>

                        </div>
                      </div>
                    
                  </div>
                  <div class="card bg-danger">
                      <div class="card card-body">
                        <a href="#" class="content-news">
                          <img src="images/NEW5.jpg" alt="">
                        </a>
                        <div class="caption col-lg-8">
                          <div class="text">
                              <div class="tieuDe">
                                  <b><a href=""></a>SSD có thể cải thiện trải nghiệm chơi game ra sao?</b>
                              </div>
                              15 Tháng Hai, 2023 <br>
                              Nâng cấp từ ổ cứng cơ đã lỗi thời lên ổ SSD hiệu suất <br>
                               cao sẽ giảm đáng kể thời gian khởi động. <br>
                          </div>
                          <a href="">XEM THÊM »</a>
                        </div>
                      </div>
                    
                  </div>

                    <button id="button-click" ng-click="handleClick1()"  ng-controller="showButton" ng-show="showButtonAll"  class="btn btn-danger more bottom-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Xem tất cả >>
                    </button>
                  <div class="collapse" id="collapseExample">
                    <div class="card bg-danger">
                      <div class="card card-body">
                        <a href="#" class="content-news">
                          <img src="images/NEW5.jpg" alt="">
                        </a>
                        <div class="caption col-lg-8">
                          <div class="text">
                              <div class="tieuDe">
                                  <b><a href=""></a>SSD có thể cải thiện trải nghiệm chơi game ra sao?</b>
                              </div>
                              15 Tháng Hai, 2023 <br>
                              Nâng cấp từ ổ cứng cơ đã lỗi thời lên ổ SSD hiệu suất <br>
                               cao sẽ giảm đáng kể thời gian khởi động. <br>
                          </div>
                          <a href="">XEM THÊM »</a>
                        </div>
                      </div>
                    
                  </div>
                </div>

                  <div class="collapse" id="collapseExample">
                    <div class="card bg-danger">
                      <div class="card card-body">
                        <a href="#" class="content-news">
                          <img src="images/NEW5.jpg" alt="">
                        </a>
                        <div class="caption col-lg-8">
                          <div class="text">
                              <div class="tieuDe">
                                  <b><a href=""></a>SSD có thể cải thiện trải nghiệm chơi game ra sao?</b>
                              </div>
                              15 Tháng Hai, 2023 <br>
                              Nâng cấp từ ổ cứng cơ đã lỗi thời lên ổ SSD hiệu suất <br>
                               cao sẽ giảm đáng kể thời gian khởi động. <br>
                          </div>
                          <a href="">XEM THÊM »</a>
                        </div>
                      </div>
                    
                  </div>
                  <button ng-click="handleClick2()" ng-controller="showButton" ng-show="showButtonSmall"  class="btn btn-danger more bottom-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Thu gọn >>
                  </button>
                  </div>