<div class="news2">
  <div class="accordion" id="accordion">
      <!--Category-->
      <div class="accordion-item bg-dark">
          <h2 class="accordion-header" id="categoryHeading">
              <button class="accordion-button bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse" aria-expanded="true" aria-controls="categoryCollapse">
                  <img src="images/flag.jpg" alt="" width="30px">
                  SẢN PHẨM MỚI
              </button>
          </h2>
          <div id="categoryCollapse" class="accordion-collapse collapse show" aria-labelledby="categoryHeading" data-bs-parent="#accordion">
              <div class="accordion-body">
                     
                      
                      <div class="intro">
                          <video class="img-thumbnail" width="100%" autoplay loop controls
                           src="videos/2023 Nitro 16-17 AMD - Ryzen 7000 Series Gaming Laptop - Acer.mp4"></video>
                      </div>
          </div>
      </div>
      <!--/Category-->
  
      <!--Supplier-->
      <div class="accordion-item bg-dark">
          <h2 class="accordion-header" id="supplierHeading">
              <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#supplierCollapse" aria-expanded="false" aria-controls="supplierCollapse">
                  <img src="images/flag.jpg" alt="" width="30px">
                  TUYỂN DỤNG
              </button>
          </h2>
          <div id="supplierCollapse" class="accordion-collapse collapse" aria-labelledby="supplierHeading" data-bs-parent="#accordion">
              <div class="accordion-body">
                 <div class="tuyen-dung card  bg-dark">
                  <div class="hinhAnh">
                      <a href=""><img class="img-thumbnail" width="100%" src="images/tuyen-dung.png" alt=""></a>
                  </div>
                  <div class="tieuDe">
                      (TUYỂN DỤNG) NĂM MỚI- <br>
                       CƠ HỘI MỚI- CÔNG VIỆC MỚI
                  </div>
                  <div class="vanBan">
                      Nhằm mở rộng hoạt động kinh doanh, <br>
                  Xgear tuyển dụng các bạn trẻ đam mê <br>
                  công nghệ tại HCM và Hà Nội các vị trí <br>
                  <a href="">XEM THÊM »</a>
                  </div>
                 </div>
             
              </div>
          </div>
      </div>
      <!--/Supplier-->
  
      <!--Special-->
      <div class="accordion-item bg-dark ">
          <h2 class="accordion-header" id="specialHeading">
              <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#specialCollapse" aria-expanded="false" aria-controls="specialCollapse">
                  <img  src="images/flag.jpg" alt="" width="30px"></i> TIN TỨC
              </button>
          </h2>
          <div id="specialCollapse" class="accordion-collapse collapse" aria-labelledby="specialHeading" data-bs-parent="#accordion">
              <div class="accordion-body">
               <div class="card news bg-dark">
                      <a href=""><img class="img-thumbnail" width="100%" src="images/lenovo.jpg" alt=""></a>
                      <div class="tieuDe">
                          Lenovo tích hợp chip AI <br> 
                          cho Laptop Gaming Legion Series
                      </div>
                      <div class="vanBan">
                          Con chip Lenovo LA AI chuyên dụng đầu tiên <br>
                           cho gaming laptop, tích hợp trong Legion Pro 7 và <br>
                            7i (16”, 8), Legion Pro 5 và 5i (16”, 8) mới. <br>
                            <a href="">XEM THÊM »</a>
                      </div>

               </div>
               <div class="card news bg-dark">
              
                  <div class="hinhAnh">
                      <a href=""><img class="img-thumbnail"  width="100%" src="images/ram.jpg" alt=""></a>
                  </div>
                      <div class="tieuDe">
                          SSD AORUS Gen5 10000 được <br>
                          tung ra thị trường với…
                      </div>
                      <div class="vanBan">
                          GIGABYTE đã ra mắt ổ SSD AORUS <br>
                           Gen5 10000 mới nhất với form factor <br>
                           M.2 2280. <br>
                          <a href="">XEM THÊM »</a>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <!--/Special-->
  </div>
  
</div>